<h1>Edit Restaurant!</h1>



<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Your data has been entered successfully .
  <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>





<form [formGroup]="editResto" (ngSubmit)="collection()">

    <div class="form-group">
      <br>
      <label>Name</label>
      <br>
      <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
    </div>

    <div class="form-group">
        <br>
        <label>Email</label>
        <br>
        <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
      </div>

    <div class="form-group">
        <br>
        <label>Address</label>
        <br>
        <input type="text" class="form-control" placeholder="Enter Address" formControlName="address">
      </div>
   
    
    
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
